<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="StartupPaths" type="SilenceController.Configurations.StartupPaths, SilenceController"/>
    <section name="KillPaths" type="SilenceController.Configurations.KillPaths, SilenceController"/>
    <section name="StartupTimes" type="SilenceController.Configurations.StartupTimes, SilenceController"/>
    <section name="KillTimes" type="SilenceController.Configurations.KillTimes, SilenceController"/>
    <section name="ApplicationMode" type="SilenceController.Configurations.ApplicationMode, SilenceController"/>
    <section name="Pomodoro" type="SilenceController.Configurations.Pomodoro, SilenceController"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <StartupPaths>
    <Paths>
      <Path Value="%APPDATA%\Telegram Desktop\Telegram.exe" />
      <Path Value="%PROGRAMFILES(x86)%\Microsoft\Skype for Desktop\Skype.exe" />
      <Path Value="%LOCALAPPDATA%\WhatsApp\WhatsApp.exe" />
    </Paths>
  </StartupPaths>
  <KillPaths>
    <Paths>
      <Path Value="Telegram" />
      <Path Value="Skype" />
      <Path Value="WhatsApp" />
    </Paths>
  </KillPaths>
  <StartupTimes>
    <Times>
      <Time Value="11:30:00" />
      <Time Value="14:00:00" />
      <Time Value="16:00:00" />
      <Time Value="18:00:00" />
    </Times>
  </StartupTimes>
  <KillTimes>
    <Times>
      <Time Value="10:30:00" />
      <Time Value="13:00:00" />
      <Time Value="15:00:00" />
      <Time Value="17:00:00" />
    </Times>
  </KillTimes>
  <ApplicationMode>
    <UseSchedule Value="false" />
  </ApplicationMode>
  <Pomodoro
    WorkInterval="00:20:00"
    BreakInterval="00:10:00"
    WorkCycles="4"
    />
</configuration>